@model IEnumerable<LaiHopQuang_01.Models.Lophoc>

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tenlop)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenlop)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Malop }) |
            @Html.ActionLink("Details", "Details", new { id=item.Malop }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Malop })
        </td>
    </tr>
}

</table>
